:root {
  --accent-clr-elmnts: #2196F3;
  --clr-btns-accent: #2196F3;
  --clr-btns-hover: #188CE8;
  --clr-btns-nrml: #F5F4FA;
  --color-contacts-ftr: rgba(255, 255, 255, 0.6);
  --color-text-primary: #757575;
  --tittle-clr-bold: #212121;
  --text-wght-nrml: 400;
  --text-wght-nrml2: 500;
  --tittle-wght-bold: 700;
  --tittle-wght-bol2: 900;
  --font-fmly-logo: 'Raleway', sans-serif;

  
  --testing-brdr-clr: tomato;
  --testing-brdr-clr: transparent;
  --testing-brdr-wght: 1px;

}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin: 0px;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}
.section.no-padding {
  padding: 0px;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}
.section.no-top-padding {
  padding-top: 0px;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}
.section.no-bottom-padding {
  padding-bottom: 0px;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.test-flex {
  display: flex;
  align-items: center;

  outline: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}

/* СКРИТІ ЕЛЕМЕНТИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------ШАПКА СТОРІНКИ */

.header-bottom-brdr {
  border-bottom: 1px solid #ECECEC;
}

/* ЛОГОТИПЧИК ШАПКА */

.logo-hdr {
  font-family: var(--font-fmly-logo);
  font-weight: var(--tittle-wght-bold);
  font-size: 26px;
  line-height: 1.2;
  color: #000000;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-hdr .logo-blue {
  color: var(--accent-clr-elmnts);
}

/* НАВІГАЦІЯ САЙТОМ */
.nav-zone {
  margin-right: auto;
}

.nav-list {
  font-weight: var(--text-wght-nrml2);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .nav-link {
  display: block;
  color: var(--tittle-clr-bold);

  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list li + li {
  margin-left: 50px;
}

.nav-list .nav-link:focus,
.nav-list .nav-link:hover {
  color: var(--accent-clr-elmnts);
}

.nav-list .nav-link:active {
  color: var(--accent-clr-elmnts)
}

.nav-list .nav-link.nav-link-current {
  color: var(--accent-clr-elmnts);
}



/* КОНТАКТИ ШАПКА */

.contacts {
  font-weight: var(--text-wght-nrml2);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts>li:not(:first-child) {
  margin-left: 50px;
}

/* email */
.contacts .mail {
  display: block;
  color: var(--color-text-primary);

  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .mail:focus,
.contacts .mail:hover {
  color: var(--accent-clr-elmnts)
}

.contacts .mail:active {
  color: var(--accent-clr-elmnts)
}

/* tel */
.contacts .tel {
  display: block;
  color: var(--color-text-primary);

  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts .tel:focus,
.contacts .tel:hover {
  color: var(--accent-clr-elmnts)
}

.contacts .tel:active {
  color: var(--accent-clr-elmnts)
}


/* ---------------------------ОСНОВНА ЧАСТИНА */


/* ---------------------------ПІДВАЛ СТОРІНКИ */

/* ЛОГОТИПЧИК ФУТЕР */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;

  border: var(--testing-brdr-wght) solid var(--testing-brdr-clr);
}
.logo-ftr {
  display: inline-block;
  font-family: var(--font-fmly-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #FFFFFF;

  margin-bottom: 20px;
}
.logo-ftr .logo-blue {
  color: var(--accent-clr-elmnts);
}

/* КОНТАКТИ ФУТЕР */

.contacts-ftr {
  line-height: 1.7;
}
.contacts-ftr>li:not(:last-child) {
  margin-bottom: 9px;
}


/* address footer */

.contacts-ftr .address {
  display: inline-block;
  color: #FFFFFF;
}

/* email footer */
.contacts-ftr .mail-ftr {
  display: inline-block;
  color: var(--color-contacts-ftr);
}
.contacts-ftr .mail-ftr:focus,
.contacts-ftr .mail-ftr:hover {
  color: var(--accent-clr-elmnts)
}
.contacts-ftr .mail-ftr:active {
  color: var(--accent-clr-elmnts)
}

/* tel footer */
.contacts-ftr .tel-ftr {
  display: inline-block;
  color: var(--color-contacts-ftr);
}
.contacts-ftr .tel-ftr:focus,
.contacts-ftr .tel-ftr:hover {
  color: var(--accent-clr-elmnts)
}
.contacts-ftr .tel-ftr:active {
  color: var(--accent-clr-elmnts)
}